<%= link_to "All Tasks", tasks_path %>

<h1> Tasks </h1>

<h4><%= @task.title %></h4>

<p><%= @task.details %></p>

<%= link_to 'Edit Task', taskupdate_path  %>
<br>
<%= link_to 'Delete',
task_path(@task),
data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
